{% extends "layout.html" %}
{% block title %}{{ project.title }} — {% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Control.MiniMap.min.css') }}" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Bing.js') }}"></script>
    <script src="{{ url_for('static', filename='Control.MiniMap.min.js') }}"></script>
    <script>
      endpoint = '{{ url_for('api') }}';
      projectId = {{ project.id }};
      forceRef = {% if ref %}'{{ ref }}'{% else %}null{% endif %};
      imagesPath = '{{ url_for('static', filename='images') }}';
      featureTemplateUrl = '{{ url_for('tasks', name=project.name, ref='tmpl') }}';
      readonly = true;
    </script>
    <script src="{{ url_for('all_features', pid=project.id) }}"></script>
    <script src="{{ url_for('static', filename='audit.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="left">
      <p class="toproject"><a href="{{ url_for('project', name=project.name) }}">← to the project</a><span id="editthis">, <a href="#" id="editlink">edit this</a></p>
      <h1 id="title">{{ project.title }}</h1>
      <p id="hint">
        <span id="transparent">Transparent marker is the <span id="tr_which"></span> point location.</span>
      </p>
      <div id="tags_wrapper">
        <table id="tags">
      </div>
      </table>
      <div id="buttons">
        <button id="zoom_all" class="b_zoom b_readonly">Zoom to dataset</button>
        <button id="zoom_out" class="b_zoom b_readonly">Zoom back</button>
        <button id="random" class="b_readonly">Random feature</button>
      </div>
    </div>
    <div id="map1"></div>
    <div id="map2"></div>
{% endblock %}
