{% extends "layout.html" %}
{% block content %}
<h1>Auditing Tool for OSM Conflator</h1>
{% if admin %}
<p><a href="{{ url_for('add_project') }}">Create a project</a></p>
{% endif %}
<p>Imports that need validating:</p>
<ul>
  {% for proj in projects %}
  {% if not proj.hidden or is_admin(proj) %}
  <li>{% if proj.hidden %}🕶️ {% endif %}<a href="{{ url_for('project', name=proj.name) }}">{{ proj.title }}</a> ({{ proj.feature_count }})</li>
  {% endif %}
  {% endfor %}
</ul>
{% if not user %}
<p><a href="{{ url_for('login') }}">Login to validate imports</a></p>
{% else %}
<p><a href="{{ url_for('profile') }}">Your profile</a></p>
{% endif %}
{% endblock %}
