{% extends "layout.html" %}
{% block title %}{{ project.title }} — {% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="{{ dated_url_for('static', filename='style.css') }}" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Bing.js') }}"></script>
    <script src="{{ url_for('static', filename='PermalinkAttribution.js') }}"></script>
    <script src="{{ url_for('static', filename='leaflet-hash.js') }}"></script>
    <script>
      endpoint = '{{ url_for('api') }}';
      projectId = {{ project.id }};
      projectUrl = '{{ url_for('project', name=project.name) }}';
      forceRef = {% if ref %}'{{ ref }}'{% else %}null{% endif %};
      imagesPath = '{{ url_for('static', filename='images') }}';
      featureTemplateUrl = '{{ url_for('tasks', name=project.name, ref='tmpl') }}';
      browseTemplateUrl = '{{ url_for('browse', name=project.name, ref='tmpl') }}';
      readonly = true;
    </script>
    <script src="{{ url_for('all_features', pid=project.id) }}"></script>
    <script src="{{ dated_url_for('static', filename='audit.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="map1" class="bigmap"></div>
    <div id="popup">
      <p><span id="title">{{ project.title }}</span>.{% if project.can_validate %} <span id="editthis"><a href="#" id="editlink">Edit this</a></span>{% endif %}</p>
      <p id="hint" class="hint">
        <span id="transparent">Transparent marker is the <span id="tr_which"></span> point location.</span>
      </p>
      <div class="tags_wrapper">
        <table id="tags" class="tags">
        </table>
      </div>
      <div id="remarks_box" class="remarks_box">
        <b>Remarks:</b> <span id="remarks_content"></span>
      </div>
      <p id="last_action" class="last_action">Rejected with the verdict "<span id="last_verdict"></span>".</p>
    </div>
{% endblock %}
