{% extends "layout.html" %}
{% block title %}{{ project.title }} — {% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Control.MiniMap.min.css') }}" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='Bing.js') }}"></script>
    <script src="{{ url_for('static', filename='Control.MiniMap.min.js') }}"></script>
    <script>
      endpoint = '{{ url_for('api') }}';
      projectId = {{ project.id }};
      forceRef = {% if ref %}'{{ ref }}'{% else %}null{% endif %};
      readonly = false;
    </script>
    <script src="{{ url_for('static', filename='audit.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="left">
      <h1 id="title">{{ project.title }}</h1>
      <p id="hint">
        <span id="canmove">You can move the marker to a better location. Imagery may be misaligned.</span>
        <span id="transparent">Transparent marker is the <span id="tr_which"></span> point location.</span>
      </p>
      <table id="tags">
      </table>
      <div id="fixme_box">
        <p>Add a fixme tag if needed:<br>
        <input type="text" id="fixme"></p>
      </div>
      <p class="toproject"><a href="{{ url_for('project', name=project.name) }}">← to the project</a></p>
      <div id="buttons">
        <button id="good" class="b_good">Good</button>
        <button id="bad" class="b_bad">Don't</button>
        <button id="bad_dup" class="b_bad">Duplicate</button>
        <button id="bad_nosuch" class="b_bad">No such place</button>
        <button id="skip" class="b_next">Skip</button>
      </div>
    </div>
    <div id="map1"></div>
    <div id="map2"></div>
  </body>
</html>
{% endblock %}
